<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wookie</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

{{> navbar }}  <!-- Include la navbar -->

    <!-- Dynamic Content -->
    {{{body}}}


{{> footer }}

</body>
</html>
