/*Definitivo*/
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: darkslategray;
}

main {
  flex: 1; /* Permette al contenuto di crescere e spingere il footer in basso */
}

footer {
  background-color: #111;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Imposta sfondo nero su tutto il sito */
body {
  background-color: darkslategrey;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.custom-card {
  background-color: rgba(0, 0, 0, 0.8); /* Verde scuro */
  color: white; /* Testo bianco per contrasto */
  height: 100%; /* Garantisce che la card si espanda correttamente */
  display: flex;
  flex-direction: column; /* Per allineare gli elementi verticalmente */
}

.card-header {
  text-align: center;
  margin-bottom: 15px;
}

.card-body .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row.d-flex {
  overflow-x: auto;
  scrollbar-width: thin;
}


/* Titolo della categoria */
.category-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111;
  text-transform: uppercase; /* Rendere il testo in maiuscolo */
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-top: 20px;
}