<error ng-controller="ErrorController" class="d-flex flex-column align-items-center text-center">
    <h1 class="mt-4">Error {{status}}</h1>
    <img src="/images/errore.png" alt="Error Image" class="my-3 img-fluid w-25">
    <p>{{message}}</p>
</error>