<section class="hero">
    <h1>Track films you’ve watched.</h1>
    <h2>Save those you want to see.</h2>
    <h3>Tell your friends what’s good.</h3>
    <a href="#" class="btn-primary">Get started — it’s free!</a>
</section>

<section class="new-releases">
    <h2>New Releases</h2>
</section>

<section class="new-releases2">
    <h2>New Releases</h2>
    <div class="carousel">
        {{#each movies}}
            <a href="/movie/{{this.movie_id}}">
                <img src="{{this.posterUrl}}" alt="{{this.title}}">
            </a>
        {{/each}}
    </div>
</section>
